In [74]:
#!pip install --user openpyxl

In [6]:
#!pip install --user python-docx
#!pip install  --user langdetect
#!pip install --user hazm
#!pip install --user spacy-langdetect

#import spacy
#from spacy_langdetect import LanguageDetector

In [1]:
import pandas as pd
import os
import numpy
import docx
from docx import Document
import hazm
from langdetect import detect
from langdetect import detect_langs

In [2]:
with open('data/big_stop_word.txt' ,'r',encoding='UTF8') as f:
    stop_words = f.read().split('\n')

In [3]:
from farsi_arabi import *

In [4]:
from langdetect import detect
from langdetect import detect_langs

In [5]:
def preprocess_text_2(text):
    text_list = text.strip('\n').strip('|').split('\n|')
    text_cleaned = ' '.join(text_list)
    text_list_cleaned = text_cleaned.split('\n')
    text_cleaned = ' '.join(text_list_cleaned)
    text_list_cleaned = text_cleaned.split(' ')
    return text_list_cleaned

In [46]:
def detect_arabic_(word):
    try:
        if (arabic_word(word) == 'ar'):
            return 'ar'
        elif (arabic_word(word) == 'fa')  :
            return 'fa'
        else:
            return detect(word)
    except:
        return 'no_val'
def create_word_lang_dataset(word_list):
    df = pd.DataFrame({'word':word_list})
    df['lang'] = df['word'].apply(lambda x: detect_arabic_(x))
    return df    

def generate_text(df):
    return df['poem'].str.cat(sep = ' ')

def lang_correction(lang):
    if lang == 'ur':
        return 'fa'
    else:
        return lang
def remove_stopwords(word_list):
    filtered_words = [word for word in word_list if word not in stop_words]
    return filtered_words

In [38]:
def create_lang_word_dataset(df,poet,century):
    poet_text = generate_text(df)
    poet_word_list = preprocess_text_2(poet_text)
    poet_word_list = remove_stopwords(poet_word_list)
    poet_df = create_word_lang_dataset(poet_word_list)
    poet_df = poet_df[poet_df['lang'] != 'no_val']
    poet_df['lang'] = poet_df['lang'].apply(lambda x:lang_correction(x))
    poet_df['poet'] = poet
    poet_df['century'] = century
    return poet_df

In [40]:
fa_poetry = pd.read_csv('PoetryDataset/poems_with_more_info.tsv' ,sep = '\t')
fa_poetry.head()

,poet,century,book_title,poem_title,poem
0,رودکی,3,قصاید و قطعات,شمارهٔ ۱,گر من این دوستی تو ببرم تا لب گور بزنم نعره...
1,رودکی,3,قصاید و قطعات,شمارهٔ ۲,به حق نالم ز هجر دوست زارا سحرگاهان چو بر گ...
2,رودکی,3,قصاید و قطعات,شمارهٔ ۳,به نام نیک تو، خواجه، فریفته نشوم که نام نی...
3,رودکی,3,قصاید و قطعات,شمارهٔ ۴,دلا، تا کی همی جویی منی را؟ چه داری دوست هر...
4,رودکی,3,قصاید و قطعات,شمارهٔ ۵,گرفت خواهم زلفین عنبرین ترا به بوسه نقش‌کنم...

In [42]:
fa_poetry.groupby(['poet', 'century']).count()

                             book_title  poem_title  poem
poet                century
ابوسعید ابوالخیر    5               786         786   786
احمد شاملو          14              323         323   323
اسدی توسی           5               144         144   144
اقبال لاهوری        14              972         972   972
امیرخسرو دهلوی      8               825         825   825
...                                 ...         ...   ...
هلالی جغتایی        9               353         353   353
وحشی                10              651         651   651
پروین اعتصامی       14              223         223   223
کامبیز صدیقی کسمایی 14              181         181   181
کسایی               4               114         114   114

[67 rows x 3 columns]

In [41]:
list_poets = pd.unique(fa_poetry['poet'])
list_poets

array(['رودکی', 'فردوسی', 'کسایی', 'ناصرخسرو', 'منوچهری', 'فرخی سیستانی',
       'مسعود سعد سلمان', 'ابوسعید ابوالخیر', 'باباطاهر',
       'فخرالدین اسعد گرگانی', 'اسدی توسی', 'هجویری', 'خیام', 'نظامی',
       'عطار', 'سنایی', 'خاقانی', 'انوری', 'عبدالواسع جبلی',
       'نصرالله منشی', 'مهستی گنجوی', 'باباافضل کاشانی', 'مولوی', 'سعدی',
       'خواجوی کرمانی', 'عراقی', 'سیف فرغانی', 'حافظ', 'اوحدی',
       'شیخ محمود شبستری', 'عبید زاکانی', 'امیرخسرو دهلوی', 'سلمان ساوجی',
       'شاه نعمت\u200cالله ولی', 'جامی', 'هلالی جغتایی', 'وحشی',
       'محتشم کاشانی', 'شیخ بهایی', 'عرفی', 'رضی\u200cالدین آرتیمانی',
       'صائب تبریزی', 'فیض کاشانی', 'بیدل دهلوی', 'هاتف اصفهانی',
       'فروغی بسطامی', 'قاآنی', 'ملا هادی سبزواری', 'پروین اعتصامی',
       'ملک\u200cالشعرای بهار', 'شهریار', 'رهی معیری', 'اقبال لاهوری',
       'خلیل\u200cالله خلیلی', 'شاطرعباس صبوحی',
       'نیما یوشیج ( آوای آزاد )', 'احمد شاملو', 'سهراب سپهری',
       'فروغ فرخزاد', 'سیمین بهبهانی', 'مهدی اخوان ثالث',
       'محمدحسن بارق شفیعی', 'شیون فومنی', 'کامبیز صدیقی کسمایی',
       'بهرام سالکی', 'عبدالقهّار عاصی', 'اِ لیـــار    (جبار محمدی )'],
      dtype=object)

In [43]:
len(list_poets)

67

In [47]:
poetry_lang_word_df = pd.DataFrame()
for poet in list_poets[0:2]:
    df = fa_poetry[fa_poetry['poet'] == poet]
    century = df.iloc[1,1]
    poet_lang_df = create_lang_word_dataset(df,poet,century)
    poetry_lang_word_df = pd.concat([poetry_lang_word_df,poet_lang_df],axis = 0)

In [53]:
for poet in list_poets[2:10]:
    df = fa_poetry[fa_poetry['poet'] == poet]
    century = df.iloc[1,1]
    poet_lang_df = create_lang_word_dataset(df,poet,century)
    poetry_lang_word_df = pd.concat([poetry_lang_word_df,poet_lang_df],axis = 0)

In [58]:
for poet in list_poets[10:20]:
    df = fa_poetry[fa_poetry['poet'] == poet]
    century = df.iloc[1,1]
    poet_lang_df = create_lang_word_dataset(df,poet,century)
    poetry_lang_word_df = pd.concat([poetry_lang_word_df,poet_lang_df],axis = 0)

In [66]:
poetry_lang_word_df.lang.value_counts(normalize = True)

fa    7.343975e-01
ar    2.655386e-01
so    3.851636e-05
en    2.257855e-05
cy    1.138415e-06
fr    7.589430e-07
vi    1.897358e-07
lt    1.897358e-07
fi    1.897358e-07
ca    1.897358e-07
es    1.897358e-07
Name: lang, dtype: float64

In [68]:
poetry_lang_word_df.tail()

          word lang                         poet  century
18803  خوشبختی   fa  اِ لیـــار    (جبار محمدی )       15
18804     است.   fa  اِ لیـــار    (جبار محمدی )       15
18805    همراه   fa  اِ لیـــار    (جبار محمدی )       15
18806      خدا   fa  اِ لیـــار    (جبار محمدی )       15
18807     رَو.   fa  اِ لیـــار    (جبار محمدی )       15

In [69]:
poetry_lang_word_df.to_csv('poetry_lang_word_df.csv',index = False)

In [70]:
poetry_lang_word_df.to_csv('poetry_lang_word_df_index.csv')

In [55]:
poetry_lang_word_df.tail()

       word lang                  poet  century
61110  خسرو   fa  فخرالدین اسعد گرگانی        5
61111  گشته   fa  فخرالدین اسعد گرگانی        5
61112   کام   fa  فخرالدین اسعد گرگانی        5
61113   دلت   fa  فخرالدین اسعد گرگانی        5
61114  عدوى   ar  فخرالدین اسعد گرگانی        5